/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
input[type='submit'] {
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

body {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif; }

.row.header {
  position: fixed;
  z-index: 999;
  background-color: white;
  height: 80px;
  width: 100%;
  margin: 0; }

.top-nav a {
  color: black;
  text-transform: uppercase; }
  .top-nav a.active {
    color: #80bdff; }

.row.background-img-wrap {
  margin: 0;
  position: absolute;
  top: 80px;
  left: 0; }
  .row.background-img-wrap img {
    width: 100%;
    height: 100%; }
  .row.background-img-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(30, 87, 153, 0)), color-stop(20%, white));
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0) 10%, white 20%); }

.main-wrap {
  position: relative;
  text-align: center;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  z-index: 100; }

.row.questionary {
  margin-top: 130px; }
  .row.questionary h1 {
    font-weight: 200;
    font-size: 70px; }

.row.profile {
  margin-top: 70px; }

.row.head-info {
  margin-top: 28px; }
  .row.head-info h2 {
    font-weight: 400;
    font-size: 30px; }

.input-item {
  margin-right: auto;
  margin-left: auto;
  margin-top: 27px; }
  .input-item label {
    display: none; }
  .input-item input {
    height: 60px; }
  .input-item .form-control {
    font-size: 23px;
    color: #c8c8c8; }
    .input-item .form-control:hover {
      border-color: #80bdff; }
  .input-item:first-child {
    margin-top: 57px; }
  .input-item .form-control::-moz-placeholder {
    color: #c8c8c8;
    opacity: 1; }
  .input-item .form-control:-ms-input-placeholder {
    color: #c8c8c8; }
  .input-item .form-control::-webkit-input-placeholder {
    color: #c8c8c8; }
  .input-item .bootstrap-select .dropdown-menu li a span.text {
    color: #5c6fa1; }
  .input-item .bootstrap-select > .dropdown-toggle {
    height: 60px; }
  .input-item .bootstrap-select .dropdown-toggle .filter-option-inner {
    padding: 2%;
    font-size: 23px;
    color: #c8c8c8; }
  .input-item .dropup .dropdown-toggle::after, .input-item .dropdown-toggle::after {
    display: inline-block;
    margin-top: 10px;
    width: 15px;
    height: 15px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    background: url(/images/up-arrow.svg);
    background-size: cover;
    background-position: center center;
    border: 0;
    background-repeat: no-repeat; }
  .input-item .show.dropup .dropdown-toggle::after, .input-item .dropdown-toggle::after {
    background: url(/images/down-arrow.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .input-item .dropdown-toggle::after {
    background: url(/images/down-arrow.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .input-item .show .dropdown-toggle::after {
    background: url(/images/up-arrow.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .input-item .btn-light:not(:disabled):not(.disabled).active,
  .input-item .btn-light:not(:disabled):not(.disabled):active,
  .input-item .show > .btn-light.dropdown-toggle {
    background-color: white; }

input {
  text-align: center; }
  input:focus {
    text-align: left; }

.row.list-img {
  margin-top: 74px; }

.row.exp-wrap {
  margin-top: 30px; }

.checkboxes-wrap {
  margin-top: 54px; }

.bootstrap-select.select .dropdown-toggle .filter-option-inner-inner,
.bootstrap-select.select .dropdown-menu li a {
  text-align: center; }

.bootstrap-select.select .btn-light {
  background-color: white;
  border-color: #dae0e5; }
  .bootstrap-select.select .btn-light:hover {
    border-color: #80bdff; }

.custom-control:hover .fill-control-indicator {
  background-color: #e9efff; }

.custom-control.fill-checkbox {
  --color: #435993; }
  .custom-control.fill-checkbox .fill-control-input {
    display: none;
    border-color: var(--color); }
    .custom-control.fill-checkbox .fill-control-input:checked ~ .fill-control-indicator {
      background-color: var(--color);
      border-color: var(--color);
      background-size: 80%; }
  .custom-control.fill-checkbox .fill-control-indicator {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color);
    -webkit-transition: .3s;
    transition: .3s;
    background-color: transperent;
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }
    .custom-control.fill-checkbox .fill-control-indicator:hover {
      background-color: #e9efff;
      border-color: var(--color); }

.fill-control-description {
  position: absolute;
  left: 30px;
  top: 0; }

.row.profile-img {
  margin-top: 73px; }

.row.about-yourself {
  margin-top: 30px; }
  .row.about-yourself p {
    margin: 0 auto; }

.row.textarea-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }

.textarea {
  resize: none; }

.btn.form-btn {
  margin-top: 70px;
  margin-bottom: 400px;
  font-size: 16px;
  background-color: #435993;
  padding: 15px 30px;
  -webkit-border-radius: 15px;
          border-radius: 15px; }

/*# sourceMappingURL=maps/screen.css.map */
